<% layout('layouts/boilerplate') -%>

    <img id="logo" class="center" draggable="false" src="../assets/logo.svg" alt="MIYT">


    <div class="center" id="download-list-container">
        <a class="edit-btn" id="download-back-btn" href="./multiple-search.html"></a>  
        
        <div id="listing-tile">
            <button class="mini-btn delete-btn" id="delete-btn"></button>
            <button class="mini-btn edit-btn" id="edit-btn"></button> 
            <button class="mini-btn" id="format-btn">MP3</button>
            <button class="mini-btn" id="meta-btn">META</button>
            <div id="video-title">
                <p>Track aa a - artist jkkkd</p>   
            </div>
            <hr>
        </div>

        <div id="listing-tile">
                <button class="mini-btn delete-btn" id="delete-btn"></button>
                <button class="mini-btn edit-btn" id="edit-btn"></button> 
                <button class="mini-btn" id="format-btn">MP3</button>
                <button class="mini-btn" id="meta-btn">META</button>
                <div id="video-title">
                    <p>Track aa a - artist jkkkd</p>   
                </div>
                <hr>
            </div>
            <div id="listing-tile">
                    <button class="mini-btn delete-btn" id="delete-btn"></button>
                    <button class="mini-btn edit-btn" id="edit-btn"></button> 
                    <button class="mini-btn" id="format-btn">MP3</button>
                    <button class="mini-btn" id="meta-btn">META</button>
                    <div id="video-title">
                        <p>Track aa a - artist jkkkd</p>   
                    </div>
                    <hr>
                </div>
                <div id="listing-tile">
                        <button class="mini-btn delete-btn" id="delete-btn"></button>
                        <button class="mini-btn edit-btn" id="edit-btn"></button> 
                        <button class="mini-btn" id="format-btn">MP3</button>
                        <button class="mini-btn" id="meta-btn">META</button>
                        <div id="video-title">
                            <p>Track aa a - artist jkkkd</p>   
                        </div>
                        <hr>
                    </div>
                    <div id="listing-tile">
                            <button class="mini-btn delete-btn" id="delete-btn"></button>
                            <button class="mini-btn edit-btn" id="edit-btn"></button> 
                            <button class="mini-btn" id="format-btn">MP3</button>
                            <button class="mini-btn" id="meta-btn">META</button>
                            <div id="video-title">
                                <p>Track aa a - artist jkkkd</p>   
                            </div>
                            <hr>
                        </div>
                        <div id="listing-tile">
                                <button class="mini-btn delete-btn" id="delete-btn"></button>
                                <button class="mini-btn edit-btn" id="edit-btn"></button> 
                                <button class="mini-btn" id="format-btn">MP3</button>
                                <button class="mini-btn" id="meta-btn">META</button>
                                <div id="video-title">
                                    <p>Track aa a - artist jkkkd</p>   
                                </div>
                                <hr>
                            </div><div id="listing-tile">
                                    <button class="mini-btn delete-btn" id="delete-btn"></button>
                                    <button class="mini-btn edit-btn" id="edit-btn"></button> 
                                    <button class="mini-btn" id="format-btn">MP3</button>
                                    <button class="mini-btn" id="meta-btn">META</button>
                                    <div id="video-title">
                                        <p>Track aa a - artist jkkkd</p>   
                                    </div>
                                    <hr>
                                </div><div id="listing-tile">
                                        <button class="mini-btn delete-btn" id="delete-btn"></button>
                                        <button class="mini-btn edit-btn" id="edit-btn"></button> 
                                        <button class="mini-btn" id="format-btn">MP3</button>
                                        <button class="mini-btn" id="meta-btn">META</button>
                                        <div id="video-title">
                                            <p>Track aa a - artist jkkkd</p>   
                                        </div>
                                        <hr>
                                    </div>


    </div>

    <a clas="center" id="download-btn"></a>
    <a class="center options-text" href="#">&#128193; Change file's destination</a>
    