<% layout('layouts/boilerplate') -%>


    <img id="logo" draggable="false" class="center" src="/assets/logo.svg" alt="MIYT">

    <form  class="center" id="url-search-bar" action="/" method="POST">
        <input id="text-field" name="search[value]" placeholder="Search by name or url..." type="text">
        <input id="submit-btn-search-bar" type="submit" value="">
    </form>

    <a class="center options-text" href="/multi">&#x1f310; Search multiple videos</a>
