<% layout('layouts/boilerplate') -%>
    <img id="logo" draggable="false" class="center" src="../assets/logo.svg" alt="MIYT">

    <br><br>
    
    <div class="loader">Loading...</div>
    <h3 class="center">Progress: 23%</h3>