<% layout('layouts/boilerplate') -%>
    <img id="logo" class="center" draggable="false" src="../assets/logo.svg" alt="MIYT">

    <form class="center" id="url-search-area" action="/" method="POST">
        <textarea id="text-area" name="search[value]" placeholder="Enter one or more names/ urls of videos you would like to download. Seperate videos with a new line" cols="30" rows="10" ></textarea>
        <input clas="center" id="submit-btn-search-area" type="submit" value="">
    </form> 