@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');


.logo {
  height: 250px;
  width: 250px;
}

.startScreen {
  margin: -8px;
  overflow: hidden;
  background-color: #484d5c;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form {
  display: flex;
  justify-content: center;
}


.input {
  -webkit-appearance: none;
  color: #555555;
  width: 17em;
  height: 0.8em;

  padding-left: 0.45em;
  padding-bottom: 0.22em;

  border: 10px solid #fff;
  border-radius: 10px 0 0 10px;
  font-size: 1.6em;
  font-family: 'Oswald', sans-serif;
}  
.input::placeholder {
  color: #60667a;
  opacity: 0.5;
}
.input:focus {
  outline: none;
}

.submit {
  background-color: #00e763;
  border: none;
  width: 8em;
  height: auto;
  border: 10px solid #00e763;
  border-radius: 0 10px 10px 0;
  text-decoration: none;
  margin-left: 0.3em;
  cursor: pointer;
}
.submit:hover {
  background-color: #009942; 
  border-color: #009942;
}

.multipleVideosLink {
  margin: 70px 0 0 0;
  font-size: 1.6em;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  cursor: pointer;
  color: #c0ccd4;
  opacity: 0.7;
}
.multipleVideosLink:hover {
  opacity: 0.9; 
}
